.container{
    background-color: mistyrose;
    border-radius: 1em;
    border: 0.15em solid grey;
}

input{
    width: 100%;
}

select{
    margin-top: 0.25em;
}

.cuidado p{
    font-size: 1em;
    text-align: center;
    color: red
}

.button{
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em 0em 0.5em 0em;
    background-color: lightyellow;
}

#convertir{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.erase{
    background-color: lightcoral;
}

.dot{
    background-color: lightgreen;
}


/*Responsive*/

@media (min-width:992px) and (max-width:1400px){

    
}

@media (min-width:768px) and (max-width:991px){
    
    input{
        width: 11em;
    }
   
}


@media (max-width:767px){
    
    input{
        width: 10em;
    }
    
}


@media (max-width:479px){
    
    input{
        width: 8em;
    }

}